.box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

  .taskContent {
    display: flex;

    .input {
      width: 100%;
      border: 1px dashed black;
    }
  }

  .completedTask {
    opacity: 0.5;
    text-decoration: line-through;
  }

  .delete {
    width: 17px;
    cursor: pointer;
  }
}







