.notification {
  position: fixed;
  bottom: 0px;
  left: 160px;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.notificationItem {
  font-size: 16px;
  line-height: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  height: 25px;
  margin-top: 20px;
  padding: 11px 13px;
  color: #FFFFFF;
  border-right: 2px;
  background-color: grey;
  border-radius: 10px;

  &--success {
    background-color: green;
  }

  &--error {
    background-color: #595353;
  }

  .button {
    cursor: pointer;
    border: 0;
    border-radius: 50%;
  }
}

