.bgi {
  position: relative;
  height: 100vh;
  background: url("https://sun9-46.userapi.com/impg/v6n1lesA8Nu9HI0kHA_cqM3xJwfkv1SXoUcW-A/SJGP3JCJxtU.jpg?size=1024x1024&quality=95&sign=8a1a5e3e1e439389c5e144ae8dc9f4b7&type=album") no-repeat center center fixed;
  z-index: 0;
  background-size: cover;
}
